.about-company {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 182px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    left: -27px;
    background: url("../img/2005-desktop@1x.png") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/2005-desktop@2x.png");
      background-size: 220px 317px;
    }
  }
}

.about-company__title {
  margin-bottom: 27px;
  font-family: $roboto-condensed;
  font-size: 36px;
  font-weight: normal;
}

.about-company__text {
  margin-bottom: 24px;
  line-height: 1.35;

  &:last-of-type {
    margin-bottom: 39px;
  }
}

.about-company__text-state1 {
  display: none;
}

.about-company__button {
  max-width: 180px;
  box-sizing: border-box;
  border: 1px solid $blue-main;
  color: $blue-main;

  @include hover-active;
}

@media (max-width: $tablet-width) {
  .about-company {
    padding-left: 188px;

    &::before {
      width: 244px;
      height: 362px;
      left: -25px;
      top: -6px;
      background: url("../img/2005-tablet@1x.png") no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/2005-tablet@2x.png");
        background-size: 244px 362px;
      }
    }
  }

  .about-company__title {
    margin-bottom: 31px;
    margin-left: -2px;
    font-size: 32px;
  }

  .about-company__text-state1 {
    display: inline;
  }

  .about-company__text-state2 {
    display: none;
  }

  .about-company__text {
    &:last-of-type {
      margin-bottom: 43px;
    }
  }
}

@media (max-width: $mobile-width) {
  .about-company {
    padding-left: 0;
    padding-right: 0;

    &::before {
      display: none;
    }
  }

  .about-company__title {
    margin-bottom: 26px;
    font-size: 28px;
  }

  .about-company__text {
    line-height: 22px;
    margin-bottom: 39px;
  }

  .about-company__text {
    &:last-of-type {
      margin-bottom: 27px;
      line-height: 22px;
    }
  }
}
