.button {
  display: block;
  min-width: 180px;
  padding: 14px;
  text-align: center;
  font-size: 14px;
  font-family: $roboto-condensedbold;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 0.7px;
  background-color: transparent;
}
