.contacts__title {
  margin-bottom: 25px;
  font-family: $roboto-condensed;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 16px;
  color: $dark-grey;
}

.contacts__list {
  @include reset-list;
}

.contacts__addres,
.contacts__phone {
  font-size: 15px;
  font-style: normal;
  line-height: 25px;
  color: $dark-grey;
  opacity: 0.5;
}

@media (max-width: $mobile-width) {
  .contacts__title {
    position: relative;
    padding-top: 28px;
    padding-bottom: 31px;
    margin-bottom: 0;
    letter-spacing: 0.8px;
  }

  .contacts__list {
    margin-bottom: 28px;
  }
}
