.form {
  display: flex;
  flex-wrap: wrap;

  input[type="text"],
  input[type="tel"],
  textarea {
    padding: 16px 17px;
    box-sizing: border-box;
    background-color: $form-bg;
    border: none;
    color: $white;

    &:hover {
      outline: 1px solid $white;
    }
  }

  input[type="text"]::placeholder,
  input[type="tel"]::placeholder,
  textarea::placeholder {
    color: $white;
  }

  input[type="checkbox"],
  label:not(:last-child) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }

  textarea {
    width: 100%;
    resize: none;
    min-height: 104px;
  }

  button {
    display: block;
    padding: 14px;
    text-align: center;
    font-size: 14px;
    font-family: $roboto-condensed;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 0.7px;
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;

    @include hover-active;
  }

  label:last-child {
    position: relative;
    align-self: center;
    font-size: 14px;
    color: $white;

    @include hover-active;
  }

  input[type="checkbox"] + span {
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      left: -11px;
      bottom: 13px;
      height: 15px;
      border: 1px solid $white;
    }
  }

  input[type="checkbox"]:checked + span {
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 5px;
      left: -6px;
      bottom: 21px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      transform: rotate(-45deg);
    }
  }
}
