.page-footer {
  background-color: $footer-bg;
}

.page-footer__main {
  display: flex;
  max-width: 1410px;
  padding-top: 65px;
  padding-bottom: 58px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;
  margin-right: 206px;
}

.page-footer__exictense {
  display: none;
}

.page-footer__nav {
  width: 546px;
  margin-right: auto;
}

.page-footer__copyright {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

@media (max-width: $tablet-width) {
  .page-footer__main {
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .page-footer__nav,
  .page-footer__contacts {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 38px;
    padding-bottom: 36px;
    width: 50%;
    box-sizing: border-box;
  }

  .page-footer__nav {
    padding-right: 15px;
  }

  .page-footer__contacts {
    padding-left: 15px;
  }

  .page-footer__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 26px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: 87px;
  }

  .page-footer__exictense {
    display: block;
    margin-right: auto;
    margin-top: 9px;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $dark-grey;
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__container {
    flex-direction: column;
    padding-top: 46px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    margin-right: 0;
    margin-bottom: 23px;
  }

  .page-footer__exictense {
    margin-right: 0;
    margin-bottom: 41px;
  }

  .page-footer__nav,
  .page-footer__contacts {
    padding: 0 15px;
    width: 100%;
  }

  .page-footer__nav {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}
