.page-logo {
  display: flex;
  align-items: center;

  @include hover-active;
}

.page-logo img {
  margin-right: 16px;
}

.page-logo__name {
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 25px;
  color: $white;
}

.page-logo__slogan {
  font-family: $roboto;
  font-size: 12px;
  color: $darken-grey;
}
