.page-header {
  position: relative;
  display: flex;
  z-index: 1;
  max-width: 1411px;
  margin: 0 auto;
  padding-top: 33px;
  padding-left: 25px;
  padding-right: 25px;
}

.page-header__logo {
  margin-right: auto;

  @include hover-active;
}

.page-header__logo-img--mobile {
  display: none;
}

.page-header__contacts {
  display: flex;
  align-items: center;

  @include reset-list;
}

.page-header__contacts-item {
  margin-left: 49px;
}

.page-header__contacts-item-phone {
  margin-left: 88px;
}

.page-header__contacts-button {
  box-sizing: border-box;
}

.page-header__contacts-item a {
  color: $white;

  @include hover-active;
}

.page-header__contacts-item-mail a {
  position: relative;
  padding-left: 39px;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;
    left: 0;
    top: 2px;
    background: url("../img/mail.svg") no-repeat;
  }
}

.page-header__contacts-item-phone a {
  position: relative;
  padding-left: 34px;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    background: url("../img/phone-call.svg") no-repeat;
  }
}

.page-header__contacts-item-button a {
  border: 1px solid $white;
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-top: 21px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .page-header__contacts-item {
    margin-left: 25px;
    font-size: 0;
  }

  .page-header__contacts-item-button {
    display: none;
  }

  .page-header__contacts-item-mail a {
    &::before {
      content: "";
      width: 26px;
      height: 19px;
      top: -12px;
      left: 14px;
    }
  }

  .page-header__contacts-item-phone a {
    &::before {
      content: "";
      width: 24px;
      height: 24px;
      top: -15px;
      left: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    max-width: 550px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-header__logo-img--desktop {
    display: none;
  }

  .page-header__logo-img--mobile {
    display: block;
  }

  .page-header__contacts-item-mail a {
    &::before {
      left: 25px;
    }
  }
}
