.social__list {
  display: flex;

  @include reset-list;
}

.social__item {
  margin-right: 40px;
}

.social__link {
  position: relative;
  font-size: 0;

  @include hover-active;

  &::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1px;
    top: 1px;
    background: url('../img/social-facebook.svg') no-repeat;
  }
}

.social__link--odnoklassniki {
  &::before {
    left: 1px;
    background: url('../img/social-odnoklasniki.svg') no-repeat;
  }
}

.social__link--vkontakte {
  &::before {
    left: 1px;
    background: url('../img/social-vkontakte.svg') no-repeat;
  }
}

@media (max-width: $tablet-width) {
  .social__link {

    &::before {
      left: 1px;
      top: -18px;
    }
  }
}
