@media (max-width: $mobile-width) {
  .accordeon__list {
    display: none;
  }

  .accordeon__list--active {
    display: block;
  }

  .accordeon__toggle {
    @include plus;
    cursor: pointer;
  }

  .accordeon__toggle--active {
    @include minus;
  }
}
