@media (max-width: $mobile-width) {
  .accordeon {
    display: none;
  }

  .accordeon--active {
    display: block;
  }

  .accordeon__toggle {
    @include plus;
    cursor: pointer;
  }

  .accordeon__toggle--active {
    @include minus;
  }
}
