@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hover-active {
  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.5;
  }
}

@mixin minus {
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    right: 0;
    top: 36px;
    background-color: $darken-grey;
    opacity: 0.5;
  }
}

@mixin plus {
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 1px;
    right: 0;
    top: 36px;
    background-color: $darken-grey;
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    right: 7px;
    top: 29px;
    background-color: $darken-grey;
    opacity: 0.5;
  }
}
