// цвета
$white:        #FFFFFF;
$dark-grey:    #1B2D37;
$darken-grey:  #788891;
$grey:         #666666;
$light-grey:   #E5E5E5;
$blue-main:    #00B2FF;
$form-bg:      #19baff;
$preload-bg:   #333F46;
$border-color: #ebebeb;
$footer-bg:    #FAFAFA;
$footer-logo:  #203C42;

//@media медия выражения
$mobile-width:     767px;
$tablet-width:     1023px;
$retina-dpi:       144dpi;
$retina-dppx:      1.5dppx;

//шрифты
$pt-mono: "PTMono-Regular", "Courier New", monospace;
$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Robotocondensed", "Arial", sans-serif;
$roboto-condensedbold: "Robotocondensedbold", "Arial", sans-serif;
