// цвета
$white:        #ffffff;
$dark-grey:    #1b2d37;
$darken-grey:  #788891;
$grey:         #666666;
$light-grey:   #e5e5e5;
$blue-main:    #00b2ff;
$form-bg:      #19baff;
$preload-bg:   #333f46;
$border-color: #ebebeb;
$footer-bg:    #fafafa;

//@media медия выражения
$mobile-width:     767px;
$tablet-width:     1023px;
$retina-dpi:       144dpi;
$retina-dppx:      1.5dppx;

//шрифты
$pt-mono: "PT Mono", "Courier New", monospace;
$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
